*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.page-enter-active, .page-leave-active {
    transition: opacity .4s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}

.mb{
    margin-bottom: 1rem;
}

.mr{
    margin-right: 1rem;
}